<ion-header>
  <ion-navbar color="royal">
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
        Fill in the field
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
        Fill in the field
      </ion-item>

    </ion-list>

    <button ion-button block color="royal" [disabled]="!form.form.valid" (click)="login()">
      Login
    </button>
  </form>

  <button ion-button block clear color="royal" (click)="signUp()">
    Sign Up
  </button>

  <button ion-button block clear color="royal" (click)="resetPassword()">
    Forgot your password?
  </button>

</ion-content>